.align-column{
  border-left: 1px solid rgb(119, 115, 115);
}
.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 900px;
  margin: 20px auto;
  /* padding: 10px; */
}

/* Estilo para el layout en dos columnas */
.card-row-aboutme {
  display: flex; /* Flexbox: distribuye en filas (row) */
  flex-direction: row; /* Filas por defecto */
  align-items: center; /* Centra los elementos verticalmente */
  gap: 20px; /* Espaciado entre las columnas */
  padding-left: 20px;
}

/* Columna izquierda: Imagen */
.card-align {
  flex: 0 0 50%; /* Ocupa el 30% del ancho */
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  padding: 20px;
  height: 200px;
}

.placeholder-image {
  width: 80px;
  height: 80px;
  background: #d9d9d9;
  border-radius: 50%;
}

/* Columna derecha: Contenido */
/* .card-content {
  flex: 1; /* Toma el resto del espacio disponible 
} */

.card-content h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.card-content p {
  margin: 10px 0 20px;
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

/* Estilo para los botones */
.card-buttons {
  display: flex;
  gap: 10px;
}

.contact-button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.profile-button {
  background-color: #fff;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.profile-button:hover {
  background-color: black;
  color: #fff;
}